<div id="footer">
			        <div class="section">
						<ul>
							<li>
								<img src="images/friendly-pets.jpg" width="240" height="186" >
								<h2><a href="/aac">Friendly Pets</a></h2>
								<p>
								   Come and check out Austin's finest adoptable pets! <a class="more" href="/aac">Read More</a> 
								</p>
							</li>	
							<li>
								<img src="images/pet-lover2.jpg" width="240" height="186" >
								<h2><a href="https://www.aspca.org/pet-care/dog-care/common-dog-behavior-issues">How dangerous are they</a></h2>
								<p>
								   Read about what type of behavior to look out for in your new breed. <a class="more" href="https://www.aspca.org/pet-care/dog-care/common-dog-behavior-issues">Read More</a> 
								</p>
							</li>	
							<li>
								<img src="images/healthy-dog.jpg" width="240" height="186">
								<h2><a href="https://www.aaha.org/resources/how-often-should-my-dog-go-to-the-vet-a-dog-life-stage-guide/">Keep them healthy</a></h2>
								<p>
								   How often should you visit the vet? Guidelines here. <a class="more" href="https://www.aaha.org/resources/how-often-should-my-dog-go-to-the-vet-a-dog-life-stage-guide/">Read More</a> 
								</p>
							</li>	
							<li>
								
								<h2><a href="https://weratedogs.com/pages/2026-calendars?srsltid=AfmBOoqyI9sxVQDP968I11Ih-xcjt_K2Ny0qFjjEcajY1c5FdaNCNb3V">See them everyday!</a></h2>
								<p>
								     See the WeRateDogs Calendar here! <a class="more" href="https://weratedogs.com/pages/2026-calendars?srsltid=AfmBOoqyI9sxVQDP968I11Ih-xcjt_K2Ny0qFjjEcajY1c5FdaNCNb3V">Read More</a> 
								</p>
								<img src="images/pet-lover.jpg" width="240" height="186">
							</li>	
						</ul>
					</div>
					<div id="footnote">
						<div class="section">
						   &copy; 2026 <a href="/index">Gravioso Salvare</a>. All Rights Reserved - Designed by Klaire Rouse.
						</div>
					</div>
			</div>