<div id="header">
	           		<a href="/index" id="logo">
					<img src="images/GraziosoSalvareLogo.png" width="200" height="150" alt="" title=""></a>
					
					<ul class="navigation">
						<li ><a href="/index">Home</a></li>
						<li class="active">
                            <a href="/aac">Austin Animals</a></li>						
                        
							<li>
								<a href="#" id="authBtn">Login</a>
							</li>
							
					</ul>
			</div>